<div class="container">
  <h2>Mettre à jour le profil de <%= resource_name.to_s.humanize %></h2>
  <div class="row">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>En attente de confirmation pour: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :current_password,
                    hint: "Veuillez renseigner votre mot de passe actuel",
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    label: "Mot de passe actuel" %>
        <%= f.input :password,
                    hint: "Laissez ce champ vide si vous ne souhaitez pas le modifier",
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    label: "Nouveau mot de passe" %>
        <%= f.input :password_confirmation,
                    hint: "Laissez ce champ vide si vous ne souhaitez pas le modifier",
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    label: "Confirmez votre nouveau mot de passe" %>
        <%= f.input :first_name,
                    required: false,
                    input_html: { autocomplete: "first-name" },
                    label: "Prénom" %>
        <%= f.input :last_name,
                    required: false,
                    input_html: { autocomplete: "last-name" },
                    label: "Nom" %>
        <%= f.input :username,
                    required: false,
                    input_html: { autocomplete: "username" },
                    label: "Pseudo" %>
        <%= f.input :age,
                    required: false,
                    input_html: { autocomplete: "age" } %>
        <%= f.input :address,
                    as: :string,
                    required: false,
                    input_html: { autocomplete: "address" },
                    label: "Adresse" %>
        <%= f.input :habitation_type,
                    collection: ["Appartement", "Maison"],
                    required: false,
                    input_html: { autocomplete: "habitation-type" },
                    label: "Type de logement" %>
        <%= f.input :garden,
                    required: false,
                    input_html: { autocomplete: "garden" },
                    label: "Avez-vous un jardin ?" %>
        <%= f.input :animals,
                    required: false,
                    input_html: { autocomplete: "animals" },
                    label: "Avez-vous déjà des animaux ?" %>
        <%= f.input :children,
                    required: false,
                    input_html: { autocomplete: "children" },
                    label: "Avez-vous des enfants ?" %>
        <%= f.input :description,
                    hint: "50 caractères minimum",
                    required: false,
                    input_html: { autocomplete: "description" },
                    label: "Parlez-nous de vous" %>
        <%= f.input :photo, as: :file,
                    required: false,
                    label: "Photo de profil" %>
        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour", class:"btn-log" %>
        </div>
      </div>
    </div>
  <% end %>

  <h3>Supprimer mon profil</h3>

  <p>Vous souhaitez nous quitter ? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Supprimer définitivement votre profil ?" }, method: :delete %></p>

  <%= link_to "Précédent", :back %>
</div>
