<div class="container">
  <h2>Votre profil</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group fixed-height">
          <%= f.error_notification %>
          <%= f.input :email,
                      placeholder: "Ex: PetLover@mail.com",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      label: "Mot de passe" %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      label: "Confirmez votre mot de passe" %>
          <%= f.input :first_name,
                      placeholder: "Ex: Brigitte",
                      required: true,
                      input_html: { autocomplete: "first-name" },
                      label: "Prénom" %>
          <%= f.input :last_name,
                      placeholder: "Ex: Bardot",
                      required: true,
                      input_html: { autocomplete: "last-name" },
                      label: "Nom" %>
          <%= f.input :username,
                      placeholder: "Ex: CathyCat63",
                      required: true,
                      input_html: { autocomplete: "username" },
                      label: "Pseudo" %>
          <%= f.input :age,
                      required: true,
                      input_html: { autocomplete: "age" } %>
          <%= f.input :address,
                      placeholder: "Ex: Rue Paradis, 13006 Marseille",
                      required: true,
                      input_html: { autocomplete: "address" },
                      label: "Adresse" %>
          <%= f.input :habitation_type,
                      collection: ['Appartement', "Maison"],
                      required: true,
                      input_html: { autocomplete: "habitation-type" },
                      label: "Type de logement" %>
          <%= f.input :garden,
                      required: true,
                      input_html: { autocomplete: "garden" },
                      label: "Avez-vous un jardin ?" %>
          <%= f.input :animals,
                      required: true,
                      input_html: { autocomplete: "animals" },
                      label: "Avez-vous déjà des animaux ?" %>
          <%= f.input :children,
                      required: true,
                      input_html: { autocomplete: "children" },
                      label: "Avez-vous des enfants ?" %>
          <%= f.input :description,
                      placeholder: "Minimum 50 caractères",
                      required: true,
                      input_html: { autocomplete: "description" },
                      label: "Parlez-nous de vous" %>
          <%= f.input :photo, as: :file,
                      required: true,
                      label: "Photo de profil" %>
          <div class="form-actions">
            <%= f.button :submit, "S'inscrire", class:"btn-log" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

