<div class="container">
          <h3 class="display-4"><%= link_to "⬅", :back, class: "btn btn-log" %> <%= @user.first_name %> <%= @user.last_name %></h3>
<br>

          <div class ="d-flex align-items-stretch justify-content-between">
            <div class="media align-items-end profile-header">
              <div class="caro">
                              <% if @user.photo.attached? %>
                              <%= cl_image_tag @user.photo.key, width:390, class: "pix" %>
                            <% else %>
                              <%= image_tag("default_avatar.jpg", class: "pix", width:390) %>
                            <% end %>
                        <a href="#" class="btn btn-block btn-logo">Contacter</a>
              </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-center text-center profile-details">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold my-3 d-block">Pseudo: <%= @user.username %></h5>
                            <h5 class="font-weight-bold my-3 d-block">Age: <%= @user.age %> ans</h5>
                            <h5 class="font-weight-bold my-3 d-block">Adresse: <%= @user.address %></h5>
                            <h5 class="font-weight-bold my-3 d-block">Type de logement: <%= @user.habitation_type %></h5>
                            <h5 class="font-weight-bold my-3 d-block">Jardin: <%= @user.garden ? "Oui" : "Non" %></h5>
                            <h5 class="font-weight-bold my-3 d-block">A des animaux: <%= @user.animals ? "Oui" : "Non" %></h5>
                            <h5 class="font-weight-bold my-3 d-block">A des enfants: <%= @user.children ? "Oui" : "Non"%></h5>
                        </li>
                    </ul>
            </div>
          </div>

                <div class="py-4">
                      <h5 class="mb-3">Biographie</h5>
                      <div class="p-4 bg-light rounded shadow-sm">
                          <p class="font-italic mb-0"><%= @user.description %></p>
                      </div>
                </div>

<!--               <div class="py-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <h5 class="mb-0">Photos</h5>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/nicole-honeywill-546848-unsplash_ymprvp.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294927/dose-juice-1184444-unsplash_bmbutn.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294926/cody-davis-253925-unsplash_hsetv7.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 pl-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/tim-foster-734470-unsplash_xqde00.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                  </div> -->

</div>


</div>
