<div class="container">
  <h1>Mes annonces</h1>
<br>
  <% if @pets.empty? %>
    <p>Vous n'avez pas encore déposé d'annonce</p>
  <% else %>
      <div class="my-pet-flex">
        <% @pets.each do |pet| %>
          
            <div class="my-pet-card">
              <% if pet.photos.attached? %>
                <%= cl_image_tag pet.photos.first.key %>
              <% else %>
                <%= image_tag("flavicon.png") %>
              <% end %>
              <div class="info-card-interess">
                <div>
                  <h2><%= pet.name %></h2>
                  <p> <%= pet.category %> - <%= pet.gender %>, <%= pet.age_description %></p>
                  <p><%= pet.description[0..50] %>...</p>
                  <br>
                </div>
                <div class="card-interess">
                  
                    <div class="adopted">
                      <h2>Personnes intéressées:</h2>
                      <% @adoptions.each do |adoption| %>
                        <% if adoption.first == pet %>
                          <% adoption.each do |a| %>
                            <p><%= a.user.username %></p>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  <% end %>
</div>
