<div class="container">
  <h1>Mes annonces</h1>
  <br>
  <% if @pets.empty? %>
    <p>Vous n'avez pas encore déposé d'annonce</p>
  <% else %>
    <div class="my-pet-flex">
      <% @pets.each do |pet| %>
        <div class="my-pet-card">
          <% if pet.photos.attached? %>
            <%= cl_image_tag pet.photos.first.key %>
          <% else %>
            <%= image_tag("flavicon.png") %>
          <% end %>
          <div class="info-card-interess">
            <div>
              <h2><%= pet.name %> · <%= link_to "Mettre à jour son profil", edit_pet_path(pet), class: "btn-edit-pet" %></h2>
              <p> <%= pet.category %> - <%= pet.gender %>, <%= pet.age_description %></p>
              <p><%= pet.description[0..50] %>...</p>
            </div>
            <div class="my-pet-flex card-interess">
              <% unless pet.adoptions.first.nil? %>
                <h2>Personnes intéressées:</h2>
                <div class="my-pet-flex2">
                <% @adoptions.each do |adoption| %>
                  <% if adoption.first.pet == pet %>
                    <% adoption.each do |a| %>
                      <p><%= link_to "#{a.user.username}", adoption_user_adoption_path(a), class: "intrssd" %></p>
                    <% end %>
                  <% end %>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
