<h1>Vos annonces</h1>

<% if @pets.empty? %>
  <p>Vous n'avez pas encore déposé d'annonce</p>
<% else %>
  <div class="cards-container">
    <div class="cards">
      <% @pets.each do |pet| %>
        <%= link_to pet_path(pet), class: "card-link" do %>
          <div class="card-trip">
            <% if pet.photos.attached? %>
              <%= cl_image_tag pet.photos.first.key %>
            <% else %>
              <%= image_tag("petspix.jpeg") %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= pet.name %></h2>
                <p> <%= pet.category %> - <%= pet.gender %>, <%= pet.age%> mois</p>
                <p><%= pet.description[0..50] %>...</p>
                <br>
              </div>
              <% if pet.user.photo.attached? %>
                <%= cl_image_tag pet.user.photo.key, class: "card-trip-user avatar-bordered" %>
              <% else %>
                <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
