<div class="container-show">


  <div class="pet-show-path">
    <p><em><%= link_to "Home", root_path, class: "home-path" %> / <%= link_to "Précedent", :back, class: "home-path" %> / <%= @pet.name %> et <%= @pet.user.username  %> </em></p><!-- Arborescence path -->
  </div>
  <h1><%= @pet.name %> - <%= @pet.age_description %></h1>
  <h3><em><%= @pet.address %>
    <% unless current_user.nil? || current_user.latitude.nil? %>
       - <%= (Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude], [@pet.latitude, @pet.longitude])).round %> km
    <% end %>
    </em></h3>

  <!-- Content section -->
  <div class="content">



    <!-- Images section (carousel)-->
    <div class="content-img">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <% if @pet.photos.attached? %>
          <ol class="carousel-indicators">
            <% @pet.photos.each_with_index do |photo, index| %>
              <% if index == 0 %>
                <li data-target="#carouselExampleIndicators" data-slide-to= <%= "#{index}" %>, class="active"></li>
              <% else %>
                <li data-target="#carouselExampleIndicators" data-slide-to= <%= "#{index}" %>></li>
              <% end %>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @pet.photos.each_with_index do |photo, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key, class: "d-block w-100 content-img" %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, class: "d-block w-100 content-img" %>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon custom-control" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon custom-control" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        <% else %>
          <div class="pet-img-main">
            <%= image_tag("flavicon.png", class: "pet-img-main") %>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Map section -->
    <div class="content-map">
      <div id="map"
        style="width: 500px; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <!-- Pet and Owner section -->
  <div class="content">
    <div class="story">
      <h2>Voici son histoire</h2>
      <div class="story-content">
        <p> <%= @pet.description %> </p>
      </div>
      <div class="contact">
        <% i = true %>
        <% unless @adoptions.nil? %>
          <% @adoptions.each do |adoption| %>
            <% i = false if adoption.user == current_user %>
          <% end %>
        <% end %>
        <% if @pet.user != current_user && !@pet.adopted && i %>
          <%= link_to "Adopter #{@pet.name}", new_pet_adoption_path(@pet), class: "btn btn-submit" %>
        <% else %>
          <% if policy(@pet).edit? && !@pet.adopted %>
            <%= link_to "Mettre à jour le profil de #{@pet.name}", edit_pet_path(@pet.id), class: "btn btn-submit" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="pet-owner-content">
      <div class="pet-caracs-health">
        <div class="pet-caracs">
          <h4>Détails:</h4>
          <ul>
            <li>Nom: <%= @pet.name %></li>
            <br>
            <li>Genre: <%= @pet.gender %></li>
            <li>Age: <%= @pet.age_description %></li>
            <li>Race: <%= @pet.race %></li>
            <li>Taille: <%= @pet.size %></li>
            <li>Poil: <%= @pet.hair %></li>
            <li>Personnalité: <%= @pet.personality %></li>
            <li>A l'aise avec des enfants: <%= @pet.child_compatibility ? "Oui" : "Non" %></li>
            <li>Besoin d'un jardin: <%= @pet.garden_need ? "Oui" : "Non" %></li>
          </ul>
        </div>
        <div class="pet-health">
          <h4>Suivi de sa santé:</h4>
          <ul>
            <% if @pet.gender == "Femelle"%>
              <li>Stérilisée: <%= @pet.sterilized ? "Oui" : "Non" %></li>
              <li>Pucée: <%= @pet.puced ? "Oui" : "Non" %></li>
              <li>Tatouée: <%= @pet.tattooed ? "Oui" : "Non" %></li>
              <li>Vaccinations à jour: <%= @pet.vaccination ? "Oui" : "Non" %></li>
            <% else %>
              <li>Stérilisé: <%= @pet.sterilized ? "Oui" : "Non" %></li>
              <li>Pucé: <%= @pet.puced ? "Oui" : "Non" %></li>
              <li>Tatoué: <%= @pet.tattooed ? "Oui" : "Non" %></li>
              <li>Vaccinations à jour: <%= @pet.vaccination ? "Oui" : "Non" %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="owner-infos">
        <h4>A propos de son propriétaire</h4>
        <div class="owner-infos-content">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-bordered" %>
          <% else %>
            <%= image_tag("default_avatar.jpg", class: "avatar-bordered") %>
          <% end %>
          <p><strong><%= @pet.user.first_name %> <%= @pet.user.last_name %></strong></p>
        </div>
        <% if @pet.user != current_user %>
          <%= link_to "En savoir plus", pet_owner_pet_path(@pet), class: "btn btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
