<div class="container">

  <div class="user-infos">
    <% if @chatroom.adoption.pet.user == current_user %>
      <% if @chatroom.adoption.user.photo.attached? %>
        <%= cl_image_tag @chatroom.adoption.user.photo.key, crop: :fill, class: "avatar-bordered" %>
      <% else %>
        <%= image_tag("default_avatar.jpg", class: "avatar-bordered") %>
      <% end %>
      <h1><%= @chatroom.adoption.user.username %></h1>
    <% elsif @chatroom.adoption.user == current_user %>
      <% if @chatroom.adoption.pet.user.photo.attached? %>
        <%= cl_image_tag @chatroom.adoption.pet.user.photo.key, crop: :fill, class: "avatar-bordered" %>
      <% else %>
        <%= image_tag("default_avatar.jpg", class: "avatar-bordered") %>
      <% end %>
      <h1><%= @chatroom.adoption.pet.name %> et <%= @chatroom.adoption.pet.user.username %></h1>
    <% end %>
  </div>

  <div class="chat">
    <div class="users-messages">
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
         <div class="msg msg-droite">
            <%= message.user.username %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-bordered" %>
            <% else %>
              <%= image_tag("default_avatar.jpg", class: "avatar-bordered") %>
            <% end %>
            <br>
            <div class ="txt txt-droite">
              <%= message.content %>
            </div>
         </div>
         <% else %>
           <%= render "messages/message", message: message %>
         <% end %>
       <% end %>
      </div>
    </div>

    <div class="new-message-input">
      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, as: :string, label: false, placeholder: "Entrer votre message" %>
      <% end %>
    </div>
  </div>
</div>
