<div class ="container-bg">
    <h1>People need Pets, Pets need People</h1>
    <%= form_tag pets_path, method: :get, class: "input-group mb-3 searchbar" do %>
      <%= select_tag 'Type',
        options_for_select(Pet::TYPES),
        :prompt => "Catégorie",
        class: 'form-control transparence custom-background' %>

      <div class="loc-field">
        <%= text_field_tag 'City', "",
        class: 'form-control transparence no-radius custom-background',
        id: "user_address",
        placeholder: "Localisation" %>
      </div>

      <div class="home-searchbar-range">
        <span class="range-value">0 </span>
        <%= range_field_tag 'Range', :in => 0..100, :step => 10,
        class: 'form-range home-searchbar-range custom-background' %>
        <span class="range-value"> 100 km</span>
      </div>

      <%= submit_tag "Rechercher", class: "input-group-text btn-search btn-home-searchbar custom-background" %>
    <% end %>
</div>

<div class="content-home">
  <h2>Ils ont été adoptés grâce à AdoptMe</h2>
</div>

<div class="container">
  <div class="cards">
    <% @pets_adopted.each do |pet| %>
      <%= link_to pet_path(pet), class: "card-link" do %>
        <div class="card-trip card-trip-home">
          <% if pet.photos.attached? %>
            <%= cl_image_tag pet.photos.first.key %>
          <% else %>
            <%= image_tag("flavicon.png") %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= pet.name %></h2>
              <p><strong><%= pet.category %></strong> - <%= pet.gender %>, <%= pet.age%> mois</p>
              <br>
              <% if pet.gender == "Femelle" %>
                <p>a été adoptée par <strong><%= pet.user.username %></strong></p>
              <% else %>
                <p>a été adopté par <strong><%= pet.user.username %></strong></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
