<div class ="container-bg">
    <h1>People need Pets, Pets need People</h1>
    <%= form_tag "#", method: :get, class: "input-group mb-3 searchbar" do %>
      <%= select_tag 'Type',
        options_for_select(Pet::TYPES),
        :prompt => "Catégories",
        class: 'form-control transparence' %>

      <%= text_field_tag 'City', "",
        class: 'form-control transparence',
        placeholder: "Saisir une ville :" %>

      <%= range_field_tag 'Range', :in => 0..100, :step => 10,
        class: 'form-range transparence' %>

      <%= submit_tag "Rechercher", class: "input-group-text btn-search" %>
    <% end %>
</div>

<div class="content-home">
  <h2>Ils ont été adoptés grâce à AdoptMe</h2>
</div>


<div class="cards">

  <div class="card-trip">
    <%= image_tag("dog1.jpg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Tenessee</h2>
        <p>Adopté par Johnny</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("cat1.jpg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Minnie</h2>
        <p>Adoptée par Lisa</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("snake1.jpg")%>
    <div class="card-trip-infos">
      <div>
        <h2>Severus</h2>
        <p>Adopté par Rogue</p>
      </div>
    </div>
  </div>

</div>
